<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>区块链浏览器</title>
</head>
<body>
<div>
    <input type="button" value="区块链浏览器" style="color: black;background: white;border: none;font-size: 20px;margin-left: 5%"></input>
    <input type="button" value="首页" style="color: black;background: white;border: none;font-size: 14px;margin-left: 60%"></input>
    <input type="button" value="区块" style="color: black;background: white;border: none;font-size: 14px;margin-left: 5%"></input>
    <input type="button" value="合约" style="color: black;background: white;border: none;font-size: 14px;margin-left: 5%"></input>
</div>

<form action="" method="post">
    <input type="text" name="company" style="width: 50%;height: 50px;margin-left: 20%;margin-top: 5%" placeholder="搜索企业名称，企业编号">
    <input type="submit" value="搜索" style="color: black;background: white;border: none;font-size: 30px"></input>
</form>
<table align="center" style="margin-top: 50px">
    <tr>
        <td>企业编号</td>
        <td>统一社会信用代码/营业执照</td>
        <td>行业类型</td>
        <td>公司名称</td>
        <td>公司注册资本</td>
        <td>登记机关</td>
        <td>公司状态</td>
        <td>组织机构代码</td>
        <td>企业类型/公司性质</td>
        <td>经营范围</td>
        <td>公司电话</td>
        <td>实缴资本</td>
        <td>税务登记证号</td>
        <td>注册城市</td>
        <td>企业类型</td>
    </tr>
</table>
</body>
</html>
